<hr />
<div class="footer-container">
    <p>© 2024 Wyatt's Portfolio</p>
    <div class="social_icons">
        <a
            href="https://github.com/thesuzerain"
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-github"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/wyatt-verchere-a05490184/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>
