<div class="nav-container">
    <div class="logo">
        <a href="/">
            Wyatt Verchere
        </a>
    </div>
    <div class="nav">
        {# <a href="/blog" class="link">
            Blog
        </a> #}
        <a href="/projects" class="link">
            Projects
        </a>
        <a href="/papers" class="link">
            Papers
        </a>
        -
        <a href="/assets/Wyatt Verchere - Resume November 2024.pdf" class="cta-btn">Resume</a>
    </div>
</div>
