---
layout: project
title: Pokémon Zeta/Omicron
tags: project
link:
    url: https://www.reddit.com/r/pokemonzetaomicron/
    icon: fa-solid fa-link
description: Using RMXP/Ruby, designed, lead, and marketed a successful fan-game in the Pokémon universe with over 800,000 unique players.
icon: fa-solid fa-gamepad
tools: Ruby, RMXP

---

<div class='project-page-grid'>
    <div class='project-page-card'>Starting in high school, all the way through 2015, I was the developer behind the fan-projects Pokémon Zeta and Omicron. These were 'fangames', a passion project I made with a friend to give Pokémon players a chance to play more games.</div>
    <div>
        <img src='/assets/zeta-menu.png'></img>
    </div>
    <div>
        <img src='/assets/zeta-gym.png'></img>
    </div>
    <div class='project-page-card'>
        <p>The game contained custom art and scripting (in Ruby), with unique battle mechanics and a server for online play. It took off on Reddit, gathering over 800,000 unique downloads, gaining a small cult following. </p>
        <p>In following years, it was mostly superceded by <a href="/projects/insurgence">Insurgence</a>, a similar project with a bigger scope and larger reception.</p>
    </div>
</div>